[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-rest-auth = {extras = ["with-social"], version = "*"}
djangorestframework-jwt = "*"
django-allauth = "*"
django-cors-headers = "*"

[dev-packages]
"autopep8" = "*"

[requires]
python_version = "3.6"
